<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <!-- We could use a hard coded link here: -->
      <!-- <a href="/static_pages/about">About</a> -->
      <!-- But that's not the Rails way.  Instead we do this: -->
      <li> <%= link_to "About",   '#' %> </li>
      <li> <%= link_to "Contact", '#' %> </li>
      <li> <a href="http://news.railstutorial.org/">News</a> </li>
    </ul>
  </nav>
</footer> 