<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li> <%= link_to "Home",    '#', id: "hack1" %> </li>
          <li> <%= link_to "Help",    '#', id: "hack2" %> </li>
          <li> <%= link_to "Sign in", '#', id: "hack3" %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header> 